*{
  margin: 0;
}

/* .app {
  background-color: rgba(49, 135, 248, 0.246);
  height: 100;
} */

.app-greeting{
  text-align: center;
  /* background-color: rgba(49, 135, 248, 0.246); */
  height: 100;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px black;
  object-fit: contain;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 350px;

}

.app-logo{
  max-width:350px;
  max-height:350px;
  width: 50%;
  object-fit: contain;
  display: flex;
  flex: .4;
}
.app-body {
  text-align: center;
  background-color: rgba(49, 135, 248, 0.246);
  height: 100vh;
}

.navBar{
  border: 1px solid red;
  display: flex;
  flex: .6;
  background: white;
  padding: 10px;
  justify-content: space-between;
  max-height:350px;

}

.navBar-user {

  display: flex;
  flex-direction: column;
  border: 1px solid darkblue;
  position: fixed;        

  background-color: white;
  justify-content: space-evenly;
  justify-content: space-between;
}

/* 
.app_auth{
  padding: 10px
}

.app_signup{
  display:flex;
  flex-direction: column;
}

.app_posts {
  padding: 15px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
} */
